SUPABASE_URL=https://javacpahgxvvjcokcupe.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphdmFjcGFoZ3h2dmpjb2tjdXBlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNTU0MzIsImV4cCI6MjA4ODgzMTQzMn0.INEwejs0NRNSS5H3QDnijVfTaTb5n-1fku6b5x6MltY
ADMIN_EMAIL=admin@admin.com.br
ADMIN_PASSWORD=admin1010
